<mat-toolbar color="primary">
  <a routerLink="/" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <i class="fa fa-home"></i>
  </a>
  <div class="left-group">
    <a routerLink="/admin" class="link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
      Admin Panel
    </a>
  </div>
  <div  class="right-group">
    <a  routerLink="/account" class="link" *ngIf="auth.loggedIn">
      <i class="fa fa-cog"></i>
        <span>Settings</span>
    </a>
  </div>
  <div  class="right-group">
    <a  routerLink="/logout" class="link" *ngIf="auth.loggedIn">
      <i class="fa fa-sign-out"></i>
        <span>Logout</span>
    </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>