@import '../variables';
.link {
    color: $whiteCol;
    text-decoration: none;
    &:hover {
        color: white;
    }
}

.left-group {
    margin: 0 10px;
    position: relative;
    left: 3%;
    .link {
        font-size: $font-regular;
    }
}

.right-group {
    margin: 0 10px;
    position: relative;
    left: 75%;
    .link {
        font-size: $font-regular;
    }
}

.user-menu {
    position: absolute;
    right: 0;
    opacity: 0.5;
    i {
        font-size: $font-regular;
    }
}